/* general */
@font-face {
    font-family: 'Mark Medium';
    src: url('./assets/fonts/ff-mark/FontFont_FF.Mark.Pro.Medium.otf');
}

@font-face {
    font-family: 'Avenir';
    src: url('./assets/fonts/AvenirLTStd-Heavy.otf');
}

@font-face {
    font-family: 'Gilroy';
    src: url('./assets/fonts/Gilroy-Bold.ttf');
}

:root {
    --yellow: #D4B134;
}

* {
    margin: 0%;
    padding: 0%;
}

body, html {
    background: #111111;
    display: flex;
    /* height: 10rem; */
    background: red;
    box-sizing: border-box;
    width: 100%;
    background: #111111;
    color: #aaaaaa;
    font-family: 'Mark Medium';
    height: 100%;
    /* overflow-x: hidden; */
}

/* body, html {
    height: 100%;
} */

.grid_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.grid_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    background: transparent;
    padding: 20px 25px;
    border-radius: 4px;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 10000;
    margin: 0px;
}

.nav.fixed {
    position: fixed;
    background: #1B1B1D;
    box-shadow: 0px 0px 5px #1B1B1D;
    top: 0px;
    display: flex;
    z-index: 1000;
    padding: 10px 1.5%;
}

.nav ion-icon {
    color: blue;
    --ionicon-stroke-width: 16px;
    --ionicon-stroke-color: #fff;
}

.nav img {
    height: 2rem;
    cursor: pointer;
    margin-right: 0px;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    margin-right: 20px;
    color: #aaaaaa;
    text-decoration: none;
}

.nav ul li:last-child {
    background: var(--yellow);
    padding: 15px 25px;
    border-radius: 4px;
    color: #000000;
}

.header {
    min-height: 95vh;
    display: flex;
    align-items: center;
    /* position: relative; */
}

/* .header {
    background: #999D9E;
} */

.header button {
    background: var(--yellow);
    padding: 15px 35px;
    border-radius: 4px;
    font-size: .9rem;
    font-family: 'Mark Medium';
    border: 1px solid var(--yellow);
    color: #000;
    outline: none;
}

.header .overflow-black {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3));
    background: linear-gradient(to top, rgba(27, 27, 29, .8), rgba(0, 0, 0, .3));
    z-index: 5;
}

.header h1 {
    margin-bottom: 20px;
    font-size: 3rem;
}

.header p {
    width: 60%;
    line-height: 1.8;
    font-size: 1.2rem;
    margin-bottom: 30px;
    /* color: #fff; */
}

.header h3 {
    padding-top: 0%;
    margin-bottom: 30px;
    color: #fff;
}

.hand {
    position: absolute;
    top: 20%;
    right: 0%;
}

.hand img {
    width: auto;
    height: 20rem;
}

img.me {
    width: 15%;
    height: 15%;
    border-radius: 50%;
    margin-bottom: 0px;
    display: none;
}

svg.myName {
    font: bold 2.5rem Arial;
    /* font: bold 2.5rem 'Mark Medium', Arial; */
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

text.authorText {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
    stroke-linejoin: round;
    /* animation: 2s pulsate infinite; */
}

.about_me p {
    line-height: 1.7;
}

.about_me p.space_under {
    margin-bottom: 20px;
}

.about_me ul {
    display: flex;
    align-items: center;
}

.about_me ul span {
    flex: 1;
}

.about_me ul li {
    line-height: 1.7;
    list-style: inside;
}

.about_me img {
    width: 60%;
    height: auto;
    margin: 0% auto;
    display: block;
    position: relative;
}

.portfolio_sect p {
    margin-bottom: 10px;
    line-height: 1.8;
    font-size: .85rem;
}

.portfolio_sect ul li {
    display: inline-block;
    font-size: 0.8rem;
    padding-right: 10px;
}

.portfolio_sect h5 {
    font-size: 1rem;
}

.grid_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.grid_flex div {
    display: flex;
    grid-gap: 10px;
}

.grid_flex ion-icon, .stories ion-icon, .grid_3 .grid_flex a {
    font-size: 20px;
    color: #aaaaaa;
}

.contact ion-icon {
    font-size: 30px;
}

.stories ion-icon {
    margin-bottom: 10px;
}

.stories h5 {
    line-height: 1.5;
    margin-bottom: 10px;
}

.stories.portfolio_sect p {
    margin-bottom: 10px;
}

.data_block {
    background: #1B1B1D;
    border-radius: 3px;
    position: relative;
    width: 100%;
}

.data_block:hover {
    /* cursor: url('./assets/images/project.webp'); */
}

.data-block-content {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.data-block-content .data-block-content-display {
    padding: 15px 20px;
    padding-top: 30px;
}

/* .data_block:hover .data-block-content {
    z-index: 1000;
    background: #111111;
    transition: .2s all ease-in-out;
    border: 2px solid #fff;
    color: #fff;
} */

/* .data_block::after {
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: 98%;
    top: 1rem;
    left: -10px;
    z-index: -1;
} */

.space_to_top {
    margin-top: 6%;
}

.small_space_to_top {
    margin-top: 5%;
}

/* .space_to_top {
    margin-top: 5%;
}

.small_space_to_top {
    margin-top: 5%;
} */

.contact_display {
    border: 2px solid #1B1B1D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom-color: var(--yellow);
}

.contact_display h3 {
    font-size: .8rem;
    color: #fff;
    text-align: right;
    margin-bottom: 5px;
}

.contact_display a {
    color: #aaaaaa;
    text-align: right;
}

.footer {
    margin-top: 8%;
    /* border-top: 2px solid #1B1B1D; */
    padding-top: 2%;
}

.footer .grid_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .grid_2 a {
    display: block;
    color: #aaaaaa;
    margin-bottom: 10px;
}

svg.section_header text {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
    stroke-linejoin: round;
    font-size: 1.3rem;
}

svg.section_header {
    font: bold 30px Century Gothic, Arial;
    width: 100%;
    height: 50px;
}

@keyframes pulsate {
    50% {
        stroke-width: 2.5px
    }
}


.nav_data {
    background: #cb450c;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0px;
    padding-left: 30px;
    padding-top: 50px;
    z-index: 1000;
}

/* .nav_data .color-cover {
    background: #cb450c;
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0px;
} */

.nav_data ul, .nav_data.showNav .nav_links, .closeNav {
    z-index: 1000;
}

.nav_data ul {
    width: 100%;
}

.block-box {
    position: fixed;
    background: #cb450c;
    background: #111111;
    height: 100%;
    top: 0%;
    left: 0px;
}

.block-box.block1 {
    width: 20%;
    left: 20%;
}

.block-box.block2 {
    width: 20%;
    left: 40%;
}

.block-box.block3 {
    width: 20%;
    left: 60%;
}

.block-box.block4 {
    width: 20%;
    left: 80%;
}

.block-box.block5 {
    width: 20%;
    left: 0%;
}

.nav_data.showNav {
    display: block;
}

.nav_data.hideNav {
    display: none;
}

.nav_data ul li {
    list-style: none;
}

svg.nav_data_content text {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
    stroke-linejoin: round;
    font-size: 2rem;
}

svg.nav_data_content {
    font: bold 30px Century Gothic, Arial;
    width: 100%;
    height: 80px;
}

.nav_data a {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    font-size: 1.3rem;
}

.nav_data .nav_links {
    margin-top: 10%;
}

.closeNav {
    position: absolute;
    top: 5%;
    right: 10%;
    background: var(--yellow);
    height: 3rem;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

/* .smooth-scroll-wrapper {
    position: relative;
    width: 100vw;
} */
.greeting {
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 100%;
}

.greeting h2 {
    margin: 0%;
    font-size: 12rem;
    margin-bottom: 0px;
    margin-left: 0%;
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
}

.level-loader {
    background: #aaaaaa;
    width: 100%;
    display: block;
    height: 1rem;
    border: 1.5px solid #aaaaaa;
}

.level-loader-counter {
    display: block;
    height: .8rem;
    background: #111111;
}

.mobile-only {
    display: none;
}

.desktop-only {
    display: block;
}

.padding-block {
    padding: 0px 30px;
    display: block;
}

.line {
    border-bottom: 1px solid #aaaaaa;
    margin: 10px 0px;
    display: block;
}

.dev-page {
    display: block;
}

.dev-page h1 {
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: -1px;
    margin-bottom: 0%;
    line-height: 1;
    font-size: 6rem;
    opacity: 1;
}

.nav h3 {
    font-family: 'Bebas Neue', cursive;
}

.data_block_header {
    background: #e7e7e7;
    height: 13rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data_block_header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.website_data_block .data-block_body {
    background: transparent;
    border: 2px solid #1B1B1D;
    border-top-width: 1px;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 4px;
}

.website_data_block .data-block_body h5 {
    margin-bottom: 0px;
}

.website_data_block .data-block_body ul li {
    font-size: .8rem;
}

@media screen and (min-width: 720px) {
    svg.section_header {
        margin-bottom: 10px;
    }

    .nav_data.showNav .nav_links {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    .nav_data.showNav {
        padding-left: 2%;
        display: flex;
        padding-top: 0px;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 720px) {

    .padding-block {
        padding: 10px 30px;
        display: block;
    }

    .header p {
        width: 100%;
        font-size: .9rem;
    }

    .about_me.second_display .grid_2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .about_me img {
        width: 70%;
        border-radius: 3px;
        margin: unset;
        margin-top: 20px;
    }

    .about_me p {
        font-size: .9rem;
    }

    .second_display.portfolio_sect .grid_3 {
        display: flex;
        flex-direction: column;
    }

    .footer-cover.space_to_top .grid_3 {
        display: flex;
        flex-direction: column;
    }

    .footer-cover.space_to_top,
    .space_to_top,
    .small_space_to_top {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .footer .grid_2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: unset;
    }

    /* .hand {
        display: none;
    } */

    .header svg {
        font: normal 2rem 'Avenir';
        /* font: bold 2rem 'Mark Medium'; */
    }

    .header h2 {
        font: normal 2rem 'Gilroy';
        color: #fff;
        margin-top: 10px;
    }

    .header svg text.authorText {
        stroke-width: 1px;
    }

    .header {
        min-height: 90vh;
    }

    .header h3 {
        margin-bottom: 0px;
    }

    svg.section_header {
        font: normal .9rem Century Gothic;
    }

    /* .space_to_top {
        margin-top: 20%;
    } */

    img.me {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        display: block;
    }

    .footer-cover.space_to_top .second_display .mobile-only {
        display: flex;
        /* text-align: center; */
        grid-gap: 30px;
        margin-top: 30px;
    }

    .footer-cover.space_to_top a ion-icon {
        color: #aaaaaa;
    }

    .footer-cover.space_to_top .footer .grid_2 {
        display: flex;
        flex-direction: column-reverse;
        /* text-align: center; */
        align-items: unset;
    }

    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }


    .portfolio_sect .mobile-only p, .portfolio_sect .mobile-only ul li {
        color: #aaaaaa;
        font-family: 'Mark Medium';
    }

    .second_display.portfolio_sect img {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }

    .nav {
        padding: 20px 10px;
    }

    .nav img {
        margin-right: 0px;
    }

    .ant-tabs-tab-btn {
        color: #aaaaaa;
        font-family: 'Mark Medium';
        font-size: .9rem;
    }

    .about_me ul li {
        list-style: inside;
        font-size: .9rem;
    }

    .ant-tabs.ant-tabs-top.ant-tabs-mobile {
        margin-top: 5%;
    }

    .padding-block {
        padding: 0px 1.5%;
        display: block;
    }

    .horizontal-line {
        border-bottom: 1px solid #1B1B1D;
    }

    .separating-line {
        border-bottom: 1px solid #aaa;
        margin: 5rem 0px;
        margin-bottom: 47px;
        display: block;
    }

    .separating-line-footer {
        border-bottom: 1px solid;
        border-color: rgb(219, 180, 243);
        margin: 5rem 0px;
        margin-bottom: 47px;
        display: block;
    }

    .second_display.stories .section_header {
        margin-bottom: 30px;
    }

    .portfolio_sect.sec-projects.space_to_top {
        margin-top: 5%;
    }

    /* nav_data */
    .nav_data.showNav {
        padding-left: 2%;
        display: flex;
        padding-top: 0px;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .nav_data.showNav .nav_links {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    .nav_data a {
        color: #fff;
        font-size: .9rem;
    }

    .nav_data svg.nav_data_content {
        font: bold 1px Century Gothic, Arial;
    }

    .nav_data svg.nav_data_content text {
        font-size: 1.4rem;
    }

    .about_me ul,
    .second_display.space_to_top.portfolio_sect.sec-projects ul {
        margin-bottom: 0px;
    }

    .small_space {
        margin-top: 10%;
    }

    .nav h3 {
        font-size: 1.4rem;
        margin-bottom: 0px;
    }

    .padding-block .footer p {
        margin-bottom: 60px;
    }

    .header h3 {
        padding-top: 8%;
    }

    .hand {
        display: none;
    }

    /* .footer, .footer-cover.space_to_top {
        text-align: center;
    }

    .footer-cover.space_to_top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-cover.space_to_top .section_header,
    .footer-cover.space_to_top .mobile-only {
        width:fit-content;
    } */
    .footer-cover.space_to_top p {
        line-height: 1.9;
    }

    .dev-page h1 {
        text-transform: uppercase;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: -1px;
        margin-bottom: 0%;
        line-height: 1;
        font-size: 4.5rem;
    }

    .dev-greeting {
        margin-bottom: 10px;
    }
}

.projects-mobile-display .grid_2 {
    grid-gap: 10px;
}

.project-display {
    height: 15rem;
    width: 100%;
    color: #000000;
    padding: 10px;
}

.project-display ul {
    margin: 0%;
}

.project-display ul li {
    font-size: .6rem;
    display: inline-block;
    padding-right: 5px;
    padding-top: 0%;
}

.project-display p {
    font-size: .6rem;
    line-height: 1.9;
    margin-bottom: 0%;
}

.project-display h2 {
    font-size: 1.2rem;
    margin-bottom: 0px;
    font-family: 'Gilroy';
}

.project-display ion-icon {
    margin-bottom: 10px;
    color: #000000;
    padding-top: 40px;
    font-size: 1.6rem;
}

.project-1 {
    background: linear-gradient(rgb(239, 169, 113), rgb(228, 202, 254));
}

.project-2 {
    background: linear-gradient(90deg, rgb(177, 229, 249), rgb(244, 210, 254));
}

.project-3 {
    background: linear-gradient(rgb(219, 180, 243), rgb(239, 183, 215));
}

.project-4 {
    background: linear-gradient(rgb(177, 229, 249), rgb(244, 210, 254));
}

.project-5 {
    background: linear-gradient(rgb(243, 203, 171), rgb(254, 237, 202));
}

.project-6 {
    background: linear-gradient(rgb(239, 169, 113), rgb(228, 202, 254));
}

.half-width {
    position: fixed;
    height: 100%;
    width: 100%;
    min-width: 110vw;
    margin-left: -5vw;
    z-index: 1000;
    background: #000000;
    background: #111111;
    /* border-bottom: 1px solid #fff; */
    box-shadow: 0px 0px 3px 1px rgba(254, 237, 202, .5);
    border-radius: 0px 0px 80px 80px;
}

.last-greeting {
    width: 50%;
    margin-bottom: 20px;
}